@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #1a6670;
    --background-color: #beeeeb;
    --dark-color: #151515;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-size: 4rem;
    color: var(--dark-color);
    border-right: 1px solid #e2e2e2;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
}

.heading-1{
    margin-top: 2rem;
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

.container-hero {
    background-color: var(--background-color);
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.customer-support {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.customer-support i{
    font-size: 3.3rem;
}

.content-customer-support{
    display: flex;
    flex-direction: column;
}

.container-logo{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.container-logo h1 a{
    text-decoration: none;
    color: #000;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.container-user {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.content-shopping-cart {
    display: flex;
    flex-direction: column;
}

.container-navbar {
    background-color: var(--primary-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.menu{
    display: flex;
    gap: 2rem;
}

.menu li{
    list-style: none;
}

.menu a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.menu a::after{
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all .3s ease;
}

.menu a:hover::after{
    opacity: 1;
}

.menu a:hover{
    color: whitesmoke;
}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 2rem;
    background-color: #fff;
    height: 4.4rem;
    overflow: hidden;
}
.search-form .icon{
    width: 3rem;
}

.search-form input{
    outline: none;
    font-family: inherit;
    border:none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: #777;
    cursor: pointer;
}

.search-form input::-webkit-search-cancel-button{
    appearance: none;
}
.search-form .btn-search{
    border: none;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

.banner{
    background-image: linear-gradient(100deg, #000000, #00000020) ,url(imagenes/Monet_categoria.jpg);
    height: 30rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content-banner{
    max-width: 90rem;
    margin: 0 auto;
    padding: 7rem 0;
}

.content-banner p{
    color: aqua;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.content-banner h2{
    color: #fff;
    font-size: 5rem;
    font-weight: 500;
    line-height: 1.2;
}

.content-banner a{
    margin-top: 2rem;
    text-decoration: none;
    color: #fff;
    background-color: var(--primary-color);
    display: inline-block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    border-radius: 3rem;
}

.main-content{
    background-color: var(--background-color);
}

.top-categories{
    display: flex;
    flex-direction: column;
    
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-categories{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.card-category{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 2rem;
}

.category-monet{
    background-image: linear-gradient(#00000080, #00000080), url(imagenes/Monet_categoria.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.category-van-gogh{
    background-image: linear-gradient(#00000080, #00000080), url(imagenes/Van_Gogh_categoria.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.category-miguel-angel{
    background-image: linear-gradient(#00000080, #00000080), url(imagenes/Miguel_Angel_categoria.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.category-rafael{
    background-image: linear-gradient(#00000080, #00000080), url(imagenes/Rafael_categoria.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.category-el-bosco{
    background-image: linear-gradient(#00000080, #00000080), url(imagenes/El_Bosco_categoria.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.category-dali{
    background-image: linear-gradient(#00000080, #00000080), url(imagenes/Dali_categoria.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-category p{
    font-size: 2.5rem;
    color: #fff;
    text-transform: capitalize;
    position: relative;
}
.card-category p::after{
    content: '';
    width: 2.5rem;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50%, 50%);
}

.card-category span{
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

.card-category span:hover{
    color: var(--primary-color);
}

.top-products{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem;
    margin-bottom: 3rem;
}

.container-products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}

.card-product{
    background-color: #fff;
    padding: 2rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container-img{
    position: relative;
}

.container-img img{
    width: 100%;
}

.content-card-product{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
    row-gap: 1rem;
}

.content-card-product h3{
    grid-row: 1/2;
    grid-column: 1/-1;

    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.content-card-product h3:hover{
    color: var(--primary-color);
}

.add-cart{
    justify-self: start;
    width: 4rem;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-cart:hover{
    background-color: var(--primary-color);
}

.content-card-product .price{
    justify-self: end;
    align-self: center;

    font-size: 1.7rem;
    font-weight: 600;
}

input[type="submit"]{
    position: relative;
    left: 35%;
    width: 30%;
    height: 50px;
    border: 1px solid;
    background: #1a6670;
    border-radius: 20px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    background-color: var(--background-color);
    color: var(--primary-color);
    transition: .5s;
}


.footer {
    background-color: var(--primary-color);
    color: white;
    padding: 20px 0;
    text-align: center;
    min-height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.title-footer {
    font-weight: bold;
    font-size: 1.8rem; 
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem; 
}

.info a{
    color: white;
    font-size: 1.2rem; 
}